nav {
      background-color: #0d47a1;

}

nav button {
  background-color: #64b5f6;  
}


nav .nav-wrapper .brand-logo .responsive-img {
  max-height: 56px;
  vertical-align: middle;
  padding-left: 50px;
}



footer {
      background-color: #0d47a1;
}

.page-footer .responsive-img {
  height:200px;
  width: 200px;
}

footer.page-footer  {
  background-color: #0d47a1;
}

footer .footer-copyright {
  background-color: #1a237e;
}
